/* this is a comment that cssnano will remove */
body div{
  color: red;
}

/* this is a comment that cssnano will remove */
/* 
 remark because i want to use css nesting
body p{
  color: orange;
} */

body {
  & p{
    color: orange;
  } 
}